*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

*{
    font-family: 'Italiana', serif;
    font-family: 'Noto Serif', serif;
}

/* Navbar 2 ----------------------------------------------------------------------------------------

/* Style de la barre de navigation */
.navbar__ {
  width: 85%;
  background-color: rgb(255, 255, 255);
  overflow: auto; 
  border-radius: 15px;
  padding: 7px;
  position: absolute;
  left: 6%;
  top: 9%;
  box-shadow: 0px 0px 15px #006943;
  z-index: 9999;
  
}

/* Les liens de la Navbar */
.navbar__ a {
  float: right;
  text-align: center;
  padding: 12px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 15px;
  }

/* Hover des liens */
.navbar__ a:hover {
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 10px;    
}

/* Le lien sélectionner sur la navbar */
.active_ {
  background-color: #04AA6D;
  border-radius: 10px; 
}

/* Responsive dans moins de 500px*/
@media screen and (max-width: 500px) {
  .navbar__ a {
    float: none;
    display: block;
  }
}

/* Limage de la navbar */
.logo_con a{
  padding: 0px 20px;
  top: 8px;
  left: 1px;
  position: absolute; 
}

/* Barre de recherche  */
.navbar__ input[type=text] {
  position: absolute;
  left: 22% ;
  padding: 5px;
  top: 25%;
  border-radius: 5px; 
  border: 2px solid #04AA6D;
  width: 25%;
  font-size: 15px;
}


@media screen and (max-width: 500px) {
  .navbar__ a, .navbar__ input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .navbar__ input[type=text] {
    border: 1px solid #ccc;
  }
}


/************************************ Slider  ***************************** */

.active{
  background-color:  #006943;
  margin-top: 10%;
  
}
.active button{
  background-color: #006943;
  border: none ;
  color: #FFFFFF;
  margin-left: 45%;

}

/* 
.mySlides {
  position: absolute; 
  top: 30%;
  height: 60%;
  width: 100%; 
  background-image: url(images/Visa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation:lol 20s infinite;
  background-position: center;
} */

/* .mySlides img{
  width: 80%;
  height: 100%;
}
.carousel-indicators {
  background: rgba(black, 1);

}
@keyframes lol{
    0% { background-image: url("images/1.jpg"); }

    25% { background-image: url("images/3.jpg"); }
  
    50% { background-image: url(images/2.jpg); }

    75% { background-image: url(images/1.jpg); }

    100% { background-image: url(images/3.jpg); }
    
  }

  @media screen and (max-width : 500px){
    .mySlides{
      position: absolute; 
      top: 50%;
      height: 40%;
      width: 220%; 
      background-image: url(images/Visa.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      animation:lol 20s infinite;
      background-position: center;
    }

  } */

  /********************* Début --  les services ****************** */
 
.Texte h1{
  position: absolute;
  bottom: 100% ; 
  left: 40%;  
  font-size: 50px;
  color: #006943;
  /* background-color: #0069436c;
  border-radius: 15px; 
  /* height: 25%;
  width: 40%;
  box-shadow: 5px 0px 15px #006943;
  transition: 0.2s ease;
  cursor: pointer;*/
} 

.Texte p{
  position: absolute; 
  left: 10%;  
  bottom: 65% ; 
  font-size: 25px;
  text-align: center;
  color:  #006943;
}


.Carte_M{
  display: flex ; 
  position: absolute; 
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-height: 100%;
  max-width: 100%;
  left: 7%;
}

.Cartes{
  position: absolute;  
  top: 110%; 
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#f69c3c80, #04AA6D); */
  
}  

.Carte{
  display: grid; 
  grid-template-columns: 160px ;
  grid-template-rows: 65px 60px 50px ;
  border-radius: 18px;
  font-size: 15px;
  background-color: #FFFFFF;
  box-shadow: 5px 0px 15px #006943;
  text-align: center;
  transition: 0.2s ease;
  cursor: pointer;
  margin-top: 15%;
}

.Carte:hover{
transform: scale(1.5) ;
box-shadow: 5px 5px 15px #006943;
}

.Carte-image{
  background-size: cover; 
  padding: 18px;
}

.Carte-txt{
  margin: 10px;
}

.Carte-txt p{
  margin-top: 5px;
  color: #006943;
  font-size: 14px; 
}

.Carte-txt h2{
  font-size: 18px;
  color: #000000; 
}

@media screen and (max-width : 500px){
  .Texte{
    position: absolute;
    bottom: 130% ; 
    left: 40%; 
    font-size: 10px;
    text-align: center;
    color: #000000f5;
  }
  
  .Cartes{
    position: absolute;  
    top: 90%; 
    width: 220%;
    height: 30%;
    /* background-color: #006943c9; */
    background: linear-gradient(#f69d3c, #04AA6D);
  }  

  .Carte_M{
    position: absolute;
    left: 4%;
    display: flex; 
    flex-wrap: wrap; 
    
  } 
  
  .Carte{
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 5px 0px 15px #006943;
    /* text-align: center;  */
    text-align: justify;
    transition: 0.2s ease;
    cursor: pointer;  
    width: 100px;
    height: 80px;
  }
  
  .Carte:hover{
  transform: scale(1.5) ;
  box-shadow: 5px 5px 15px #006943;
  }
  
  .Carte-image{
    background-size: cover; 
    display: none;
    
  }
  
  /* .Carte-txt{
    margin: 2px;
  }  */
  
  .Carte-txt p{
    margin-top: 20px; 
    color: #006943;
    font-size: 10px; 
  }
  
  .Carte-txt h2{
    font-size: 12px;
    color: #000000; 
  }

}
  /********************* Fin --  les services ****************** */
 
  /* ----------------------------- Debut Pourquoi devenir client -----------------  */

.Contenu_T{
  position: absolute;
  top: 170%;
  height: 100%;
  width: 100%;
  background-color: #ffffff96; 
}

.contenu_client{
  background: url(images/f.jpg) no-repeat left;
  background-size: 50%;
  height: 100vh;
  overflow: hidden;
  margin-left: 3%;
}

.client{
  width: 55%;
  height: 50%;
  float: right;
  /* background: linear-gradient(#f69d3c, #04AA6D); */
  padding: 5%;
  border-radius: 20px;
}

.client h1{
color: #006943; 
font-size: 38px;
margin: 5%;
/* font-family: 'Roboto', sans-serif; */
}

.Texte_P p{
  /* font-family: 'Roboto', sans-serif; */
  font-size: 20px;
  color: #006943; 
  line-height: 15px; 
  margin: 35px;
  padding: 5px;
}

/* .autres{
  display: flex; 
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
} */

.client_button{
  width: 30%;
  height: 20%;
  background-color: #006943;
  margin-left: 75%;
  border: none;
  color: #ffffff;
  
}

@media screen and (max-width : 500px){
  .Contenu_T{
    position: absolute;
    top: 120%;
    width: 220%;
    
  } 
  
  .client {
     background-size: 100%; 
     padding: 100px 40px;
    
     
  }
  .contenu_client{
    width: 100%;
    padding: 1px; 
  }
  .client h1{
    color: #006943;
    position: absolute;
    top: 30%;
    }
    
    .Texte_P p{
      font-size: 150%;
      color: #FFFFFF;
      line-height: 30px;
      text-align: justify;
      margin-bottom: 40px;
    }
} 
/* ----------------------------- Fin Pourquoi devenir client -----------------  */ 

/*************************** La carte  ********************/
.TitreTrouver{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 275%;
  background-color: #FFFFFF;
  /* background: linear-gradient(#f69c3c00, #04AA6D); */
}

.TitreTrouver h1{
  /* font-family: 'Roboto', sans-serif; */
  color: #006943;
  text-align: center;
  font-size: 60px;
}

.TitreTrouver p{
  /* font-family: 'Roboto', sans-serif; */
  color: #000000;
  text-align: center;
  font-size: 25px;

}
.Lacarte{
  position: absolute;
  top: 310%;
  height: 70vh;
  width: 100%;
}

.Mapgénéral{
  /* background-color: #006943; */
  overflow: hidden; 
}

.Map{
  width: 50%;
  height: 50%;
  float: right;

}

.Info_map{
  margin-left: 3%;
  padding: 0%; 
}

.Info_map_a{
  width: 50%;
  height: 60%;
  float: left;
  /* background-color: #d36c6cb9; */
  background: linear-gradient(#04AA6D, #f69d3c);
  padding: 48px;
  /* border : 4px solid  #f69c3c; */
  /* border-radius: 50px;  */
}

.form {
  width: 100%;
  height: 100%;
  position: static;
}

.text-center{
  background-color: #006943;
  /* border: 10px; */
  color: black;
  /* cursor: pointer; */
  font-size: 20px;
  /* margin-left: 30;  */
  /* line-height: px;  */
  /* display: none; */

}
/*************************** Fin -- La carte  ********************/


/******************* Début -- notre sélection  ******************/

.Général{
  background-color: white;
  position: absolute;
  top: 380%;
  width: 100%;
 
 }

.Text__G h1{
     font-size: 60px;
     color: #006943;
     padding-top: 10%;
     text-align: center;  
     /* font-family: 'Roboto', sans-serif; */
}
 
 @media screen and (max-width : 500px){
     .Text{
         font-size: 15px;
     }
 }
 
 .Container_{
     display: flex;
     justify-content: space-evenly;
     background-color: white;
     padding-top: 3%;
 }
 
 @media screen and (max-width : 700px){
     .Container_{
         display: flex;
         flex-wrap:  wrap;
     }
 
 }
 
 .cards{
     width: 100%;
     margin: 10px;
     background-color:white ;
     /* border : 2px solid #00694381;  */
     border-radius: 20px;
 
 }
 
 @media screen and (max-width : 700px){
     .cards{
         width: 180px;
         height: 320px;
     }
 }
 
 .card-img img{
     border-radius: 8px;
     border-radius: 20px;
     height: 50%;
     display: block;
     width: 100%;
 }
 
 .card-body h2{
     color:#000000 ;
     text-align: center;
     font-size: 120%;
     /* letter-spacing: 2px; */
     /* font-family: 'Roboto', sans-serif; */
     
 }
 
 .card-body p{
     /* letter-spacing: 2px; */
     line-height: 2;
     color: #000000;
     text-align: center;
     font-size: 15px;
     /* height: 60%; */
     /* margin-top: 2px; */
     /* font-family: 'Roboto', sans-serif; */
    
 }
 
 @media screen and (max-width : 700px){
     .card-body h2, .card-body p{
         font-size: 60%;
     }   
 }


 

/******************* Fin -- notre selection  ******************/
 


/******** Footer ****************/

.footer__{
  position: absolute ;  
  top: 500%;
  width: 100%;
}
  /* Le contenu du footer  */
.contenu__foot{
  width: 100%;
  background-color: #000000f5;
}

/* Liste */
ul{
    list-style: none;
}

/* Les colonnes  */
.footer-col{
    width: 25%;
    margin: 10px ;
}

/* Image du Footer */
.image-footer{
    width: 25%;
    padding: 60px ;  
}

/* Titre de chaque colone */
.footer-col h4{
    font-size: 18px;
    color: blanchedalmond ;
    margin-bottom: 20px;
    font-weight: 500;
    text-decoration: underline #04AA6D ;
}

/* L'espace entre les petits titres  */
.footer-col ul li:not(:last-child){
  margin-bottom: 10px ;
}

/* Liens des petits titres */
.footer-col ul li a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #fffffff5;
    padding-left: 20px;
}

/* Liens des Reseaux Sociaux  */
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #04AA6D;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 42px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

@media (max-width: 500px) {
    .footer-col{
        width: 50%;
        margin-bottom: 10px;
    }
}

/* Ligne des "aide, Cookies..." */
.row__{
    padding: 20px 0 15px;
    display: flex;
    justify-content: space-evenly;    
}

.row-a{
    width: 25%;
    padding: 0 2px;
    display: flex;
    justify-content: space-evenly;  
}

.row-a ul li a{
    font-size: 11px;
    color: rgb(255, 255, 255);
    display: block;
}

.row .row-a a:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}


/* Footer */
